docs/api-v1.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://localhost:9001/application.wadl">
	<resources base="http://localhost:9001/">
		<resource path="util/">
			<resource path="api-version/">
				<method name="GET" id="getApiVersion">
					<response description="just a number, '1' for API v1">
						<representation mediaType="text/plain"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="auth/">
			<resource path="register/">
				<method name="POST" id="registerUser">
					<request>
						<param name="email" type="xs:string" required="true"/>
						<param name="password" type="xs:string" required="true"/>
						<param name="fullName" type="xs:string" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="token" type="xs:string" required="true"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="login/">
				<method name="POST" id="login">
					<request>
						<param name="email" type="xs:string" required="true"/>
						<param name="password" type="xs:string" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="token" type="xs:string" required="true"/>
							<param name="expiration" type="xsd:dateTime" required="true"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="logout/">
				<method name="POST" id="logout" description="invalidates/expires all valid tokens">
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="change-password/">
				<method name="POST" id="changePassword">
					<request>
						<param name="email" type="xs:string" required="true"/>
						<param name="password" type="xs:string" required="true"/>
						<param name="newPassword" type="xs:string" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="reset-password-request/">
				<method name="POST" id="resetPasswordRequest">
					<request>
						<param name="email" type="xs:string" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="reset-password-action/">
				<method name="POST" id="resetPasswordAction">
					<request>
						<param name="email" type="xs:string" required="true"/>
						<param name="resetPasswordToken" type="xs:string" required="true"/>
						<param name="newPassword" type="xs:string" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="me/">
			<resource path="info/">
				<method name="GET" id="getUserInfo">
					<response>
						<representation mediaType="app/json">
							<param name="email" type="xs:string"/>
							<param name="fullName" type="xs:string"/>
							<param name="defaultGroupId" type="xs:string"/>
							<param name="lastLogoutTime" type="xsd:dateTime" nillable="true" description="dateTime or none"/>
							<param name="lastLogins" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="time" type="xsd:dateTime"/>
									<element name="userId" type="xs:string"/>
									<element name="email" type="xs:string"/>
									<element name="remoteIp" type="xs:string"/>
									<element name="successful" type="xs:bool" description="password was correct"/>
									<element name="locked" type="xs:bool" required="false" description="password was correct, but user was locked"/>
								</item>
							</param>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="login-history/">
				<method name="GET" id="getUserInfo">
					<request>
						<param name="limit" type="xs:int" required="false" description="there is a default limit"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="lastLogins" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="time" type="xsd:dateTime"/>
									<element name="userId" type="xs:string"/>
									<element name="email" type="xs:string"/>
									<element name="remoteIp" type="xs:string"/>
									<element name="successful" type="xs:bool" description="password was correct"/>
									<element name="locked" type="xs:bool" required="false" description="password was correct, but user was locked"/>
								</item>
							</param>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="full-name/">
				<method name="PUT" id="setUserFullName">
					<request>
						<param name="fullName" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
				<method name="DELETE" id="unsetUserFullName">
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="default-group/">
				<method name="PUT" id="setUserDefaultGroup">
					<response>
						<representation mediaType="app/json">
							<param name="defaultGroupId" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="DELETE" id="unsetUserDefaultGroup">
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="data-full">
				<method name="GET" id="getUserDataFull">
					<response>
						<representation mediaType="app/json">
							<param name="user" type="xs:complexType">
								<element name="email" type="xs:string"/>
								<element name="fullName" type="xs:string"/>
								<element name="defaultGroupId" type="xs:string"/>
								<element name="lastLogoutTime" type="xsd:dateTime" nillable="true" description="dateTime or none"/>
								<element name="lastLogins" type="xs:list" itemType="xs:complexType">
									<item type="xs:complexType">
										<element name="time" type="xsd:dateTime"/>
										<element name="userId" type="xs:string"/>
										<element name="email" type="xs:string"/>
										<element name="remoteIp" type="xs:string"/>
										<element name="successful" type="xs:bool" description="password was correct"/>
										<element name="locked" type="xs:bool" required="false" description="password was correct, but user was locked"/>
									</item>
								</element>
							</param>
							<param name="groups" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="groupId" type="xs:string"/>
									<element name="title" type="xs:string"/>
									<element name="ownerEmail" type="xs:string"/>
								</item>
							</param>
							<param name="events" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="eventId" type="xs:string"/>
									<element name="eventType" type="xs:string">
										<option value="allDayTask"/>
										<option value="custom"/>
										<option value="dailyNote"/>
										<option value="largeScale"/>
										<option value="lifeTime"/>
										<option value="monthly"/>
										<option value="task"/>
										<option value="universityClass"/>
										<option value="universityExam"/>
										<option value="weekly"/>
										<option value="yearly"/>
									</element>
									<element name="lastModifiedTime" type="xsd:dateTime"/>
									<element name="lastSha1" type="xs:string"/>
									<element name="meta" type="xs:complexType">
										<element name="ownerEmail" type="xs:string"/>
										<element name="isPublic" type="xs:boolean"/>
										<element name="creationTime" type="xsd:dateTime"/>
									</element>
									<element name="data" type="xs:complexType" description="extra elements are present depending on {eventType},
									only the common elements are documented">
										<element name="summary" type="xs:string"/>
										<element name="description" type="xs:string"/>
										<element name="summaryEncrypted" type="xs:boolean"/>
										<element name="descriptionEncrypted" type="xs:boolean"/>
										<element name="calType" type="xs:string">
											<option value="gregorian"/>
											<option value="jalali"/>
											<option value="hijri"/>
											<option value="indian_national"/>
											<option value="julian"/>
											<option value="ethiopian"/>
											<option value="gregorian_proleptic"/>
										</element>
										<element name="icon" type="xs:string"/>
										<element name="timeZone" type="xs:string"/>
										<element name="timeZoneEnable" type="xs:boolean"/>
									</element>
								</item>
							</param>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/my/">
			<resource path="events/">
				<method name="GET" id="getMyEventsList">
					<request>
						<param name="exStartId" type="xs:str" description="exclusive start eventId, for pagination (lastId of previous respose)"/>
						<param name="limit" type="xs:int" description="maximum number of events in page"/>
						<param name="reverseOrder" type="xs:bool" description="if true, returns the most recently created events first"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="lastId" type="xs:str" description="the last eventId in this page"/>
							<param name="events" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="eventId" type="xs:string"/>
									<element name="eventType" type="xs:string">
										<option value="allDayTask"/>
										<option value="custom"/>
										<option value="dailyNote"/>
										<option value="largeScale"/>
										<option value="lifeTime"/>
										<option value="monthly"/>
										<option value="task"/>
										<option value="universityClass"/>
										<option value="universityExam"/>
										<option value="weekly"/>
										<option value="yearly"/>
									</element>
								</item>
							</param>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="events-full/">
				<method name="GET" id="getMyEventsFull">
					<request>
						<param name="exStartId" type="xs:str" description="exclusive start eventId, for pagination (lastId of previous respose)"/>
						<param name="limit" type="xs:int" description="maximum number of events in page"/>
						<param name="reverseOrder" type="xs:bool" description="if true, returns the most recently created events first"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="lastId" type="xs:str" description="the last eventId in this page"/>
							<param name="eventsFull" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType">
									<element name="eventId" type="xs:string"/>
									<element name="eventType" type="xs:string">
										<option value="allDayTask"/>
										<option value="custom"/>
										<option value="dailyNote"/>
										<option value="largeScale"/>
										<option value="lifeTime"/>
										<option value="monthly"/>
										<option value="task"/>
										<option value="universityClass"/>
										<option value="universityExam"/>
										<option value="weekly"/>
										<option value="yearly"/>
									</element>
									<element name="lastModifiedTime" type="xsd:dateTime"/>
									<element name="lastSha1" type="xs:string"/>
									<element name="meta" type="xs:complexType">
										<element name="ownerEmail" type="xs:string"/>
										<element name="isPublic" type="xs:boolean"/>
										<element name="creationTime" type="xsd:dateTime"/>
									</element>
									<element name="data" type="xs:complexType" description="extra elements are present depending on {eventType},
									only the common elements are documented">
										<element name="summary" type="xs:string"/>
										<element name="description" type="xs:string"/>
										<element name="summaryEncrypted" type="xs:boolean"/>
										<element name="descriptionEncrypted" type="xs:boolean"/>
										<element name="calType" type="xs:string">
											<option value="gregorian"/>
											<option value="jalali"/>
											<option value="hijri"/>
											<option value="indian_national"/>
											<option value="julian"/>
											<option value="ethiopian"/>
											<option value="gregorian_proleptic"/>
										</element>
										<element name="icon" type="xs:string"/>
										<element name="timeZone" type="xs:string"/>
										<element name="timeZoneEnable" type="xs:boolean"/>
									</element>
								</item>
							</param>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/groups/">
			<method name="GET" id="getGroupList">
				<response>
					<representation mediaType="app/json">
						<param name="groups" type="xs:list" itemType="xs:complexType">
							<item type="xs:complexType">
								<element name="groupId" type="xs:string"/>
								<element name="title" type="xs:string"/>
								<element name="ownerEmail" type="xs:string"/>
							</item>
						</param>
					</representation>
				</response>
			</method>
			<method name="POST" id="addGroup">
				<request>
					<param name="title" type="xs:string"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="groupId" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{groupId}/">
				<method name="GET" id="getGroup">
					<response>
						<representation mediaType="app/json">
							<param name="groupId" type="xs:string"/>
							<param name="title" type="xs:string"/>
							<param name="ownerEmail" type="xs:string"/>
							<param name="addAccessEmails" type="xs:list" itemType="xs:string" required="false" description="missing if it's empty"/>
							<param name="readAccessEmails" type="xs:list" itemType="xs:string" required="false" description="missing if it's empty"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="updateGroup">
					<request>
						<param name="title" type="xs:string" required="true"/>
						<param name="addAccessEmails" type="xs:list" itemType="xs:string" required="false" description="supposed empty if missing"/>
						<param name="readAccessEmails" type="xs:list" itemType="xs:string" required="false" description="supposed empty if missing"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
				<method name="DELETE" id="deleteGroup">
				</method>
				<resource path="events/">
					<method name="GET" id="getGroupEvents">
						<request>
							<param name="exStartId" type="xs:str" description="exclusive start eventId, for pagination (lastId of previous respose)"/>
							<param name="limit" type="xs:int" description="maximum number of events in page"/>
							<param name="reverseOrder" type="xs:bool" description="if true, returns the most recently created events first"/>
						</request>
						<response>
							<representation mediaType="app/json">
								<param name="lastId" type="xs:str" description="the last eventId in this page"/>
								<param name="events" type="xs:list" itemType="xs:complexType">
									<item type="xs:complexType">
										<element name="eventId" type="xs:string"/>
										<element name="eventType" type="xs:string">
											<option value="allDayTask"/>
											<option value="custom"/>
											<option value="dailyNote"/>
											<option value="largeScale"/>
											<option value="lifeTime"/>
											<option value="monthly"/>
											<option value="task"/>
											<option value="universityClass"/>
											<option value="universityExam"/>
											<option value="weekly"/>
											<option value="yearly"/>
										</element>
									</item>
								</param>
							</representation>
						</response>
					</method>
				</resource>
				<resource path="events-sha1/">
					<method name="GET" id="getGroupEventsWithSha1">
						<request>
							<param name="exStartId" type="xs:str" description="exclusive start eventId, for pagination (lastId of previous respose)"/>
							<param name="limit" type="xs:int" description="maximum number of events in page"/>
							<param name="reverseOrder" type="xs:bool" description="if true, returns the most recently created events first"/>
						</request>
						<response>
							<representation mediaType="app/json">
								<param name="lastId" type="xs:str" description="the last eventId in this page"/>
								<param name="events" type="xs:list" itemType="xs:complexType">
									<item type="xs:complexType">
										<element name="eventId" type="xs:string"/>
										<element name="eventType" type="xs:string">
											<option value="allDayTask"/>
											<option value="custom"/>
											<option value="dailyNote"/>
											<option value="largeScale"/>
											<option value="lifeTime"/>
											<option value="monthly"/>
											<option value="task"/>
											<option value="universityClass"/>
											<option value="universityExam"/>
											<option value="weekly"/>
											<option value="yearly"/>
										</element>
										<element name="lastSha1" type="xs:string"/>
									</item>
								</param>
							</representation>
						</response>
					</method>
				</resource>
				<resource path="modified-events/{dateTime}/">
					<param name="dateTime" type="xsd:dateTime" description="filters out modifications before this {dateTime}
						this should be the time of last sync on this client"/>
					<method name="GET" id="getGroupModifiedEvents">
						<request>
							<param name="limit" type="xs:int" required="false" description="maximum number of events in response"/>
						</request>
						<response>
							<representation mediaType="app/json">
								<param name="groupId" type="xs:string"/>
								<param name="sinceDatetime" type="xsd:dateTime"/>
								<param name="limit" type="xs:int"/>
								<param name="modifiedEvents" type="xs:list" itemType="xs:complexType">
									<item type="xs:complexType">
										<element name="eventId" type="xs:string"/>
										<element name="eventType" type="xs:string">
											<option value="allDayTask"/>
											<option value="custom"/>
											<option value="dailyNote"/>
											<option value="largeScale"/>
											<option value="lifeTime"/>
											<option value="monthly"/>
											<option value="task"/>
											<option value="universityClass"/>
											<option value="universityExam"/>
											<option value="weekly"/>
											<option value="yearly"/>
										</element>
										<element name="lastModifiedTime" type="xsd:dateTime"/>
										<element name="lastSha1" type="xs:string"/>
										<element name="meta" type="xs:complexType">
											<element name="ownerEmail" type="xs:string"/>
											<element name="isPublic" type="xs:boolean"/>
											<element name="creationTime" type="xsd:dateTime"/>
										</element>
										<element name="data" type="xs:complexType" description="extra elements are present depending on {eventType},
										only the common elements are documented">
											<element name="summary" type="xs:string"/>
											<element name="description" type="xs:string"/>
											<element name="summaryEncrypted" type="xs:boolean"/>
											<element name="descriptionEncrypted" type="xs:boolean"/>
											<element name="calType" type="xs:string">
												<option value="gregorian"/>
												<option value="jalali"/>
												<option value="hijri"/>
												<option value="indian_national"/>
												<option value="julian"/>
												<option value="ethiopian"/>
												<option value="gregorian_proleptic"/>
											</element>
											<element name="icon" type="xs:string"/>
											<element name="timeZone" type="xs:string"/>
											<element name="timeZoneEnable" type="xs:boolean"/>
										</element>
									</item>
								</param>
							</representation>
						</response>
					</method>
				</resource>
				<resource path="moved-events/{dateTime}/">
					<param name="dateTime" type="xsd:dateTime" description="filters out events moved before this {dateTime}
						this should be the time of last sync on this client"/>
					<method name="GET" id="getGroupMovedEvents">
						<request>
							<param name="limit" type="xs:int" required="false" description="maximum number of events in response"/>
						</request>
						<response>
							<representation mediaType="app/json">
								<param name="groupId" type="xs:string"/>
								<param name="sinceDatetime" type="xsd:dateTime"/>
								<param name="limit" type="xs:int"/>
								<param name="movedEvents" type="xs:list" itemType="xs:complexType">
									<item type="xs:complexType">
										<element name="eventId" type="xs:string"/>
										<element name="time" type="xsd:dateTime"/>
										<element name="oldGroupId" type="xs:string"/>
										<element name="newGroupId" type="xs:string"/>
									</item>
								</param>
							</representation>
						</response>
					</method>
				</resource>
			</resource>
		</resource>
		<resource path="event/copy/{eventId}/">
			<method name="POST" id="copyEvent">
				<response>
					<representation mediaType="app/json">
						<param name="eventType" type="xs:string">
							<option value="allDayTask"/>
							<option value="custom"/>
							<option value="dailyNote"/>
							<option value="largeScale"/>
							<option value="lifeTime"/>
							<option value="monthly"/>
							<option value="task"/>
							<option value="universityClass"/>
							<option value="universityExam"/>
							<option value="weekly"/>
							<option value="yearly"/>
						</param>
						<param name="eventId" type="xs:string" description="the new eventId"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
		</resource>
		<resource path="event/{eventType}/{eventId}/">
			<param name="eventType" type="xs:string">
				<option value="allDayTask"/>
				<option value="custom"/>
				<option value="dailyNote"/>
				<option value="largeScale"/>
				<option value="lifeTime"/>
				<option value="monthly"/>
				<option value="task"/>
				<option value="universityClass"/>
				<option value="universityExam"/>
				<option value="weekly"/>
				<option value="yearly"/>
			</param>
			<param name="eventId" type="xs:string"/>
			<method name="DELETE" id="deleteEvent">
			</method>
			<resource path="group/">
				<method name="PUT" id="setEventGroupId">
					<request>
						<param name="newGroupId" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="owner/">
				<method name="GET" id="getEventOwner">
					<response>
						<representation mediaType="app/json">
							<param name="ownerEmail" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="setEventOwner">
					<request>
						<param name="newOwnerEmail" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="access/">
				<method name="GET" id="getEventAccess">
					<response>
						<representation mediaType="app/json">
							<param name="isPublic" type="xs:boolean"/>
							<param name="accessEmails" type="xs:list" itemType="xs:string"/>
							<param name="publicJoinOpen" type="xs:boolean"/>
							<param name="maxAttendees" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="setEventAccess">
					<request>
						<param name="isPublic" type="xs:boolean" required="true"/>
						<param name="accessEmails" type="xs:list" itemType="xs:string" required="true"/>
						<param name="publicJoinOpen" type="xs:boolean" required="true"/>
						<param name="maxAttendees" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
				<method name="POST" id="appendEventAccess">
					<request>
						<param name="toAddEmail" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="meta/">
				<method name="GET" id="getEventMeta">
					<response>
						<representation mediaType="app/json">
							<param name="ownerEmail" type="xs:string" />
							<param name="creationTime" type="xsd:dateTime" />
							<param name="groupId" type="xs:string" />
							<param name="isPublic" type="xs:boolean"/>
							<param name="accessEmails" type="xs:list" itemType="xs:string"/>
							<param name="publicJoinOpen" type="xs:boolean"/>
							<param name="maxAttendees" type="xs:int"/>
							<param name="attendingEmails" type="xs:list" itemType="xs:string"/>
							<param name="notAttendingEmails" type="xs:list" itemType="xs:string"/>
							<param name="maybeAttendingEmails" type="xs:list" itemType="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="join/">
				<method name="POST" id="joinEvent">
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
			<resource path="leave/">
				<method name="POST" id="leaveEvent">
					<response>
						<representation mediaType="app/json"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/allDayTask/">
			<method name="POST" id="add_allDayTask">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="startJd" type="xs:int" required="true"/>
					<param name="endJd" type="xs:int" required="true"/>
					<param name="durationEnable" type="xs:boolean" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_allDayTask">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="startJd" type="xs:int"/>
							<param name="endJd" type="xs:int"/>
							<param name="durationEnable" type="xs:boolean"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_allDayTask">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="startJd" type="xs:int" required="true"/>
						<param name="endJd" type="xs:int" required="true"/>
						<param name="durationEnable" type="xs:boolean" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_allDayTask">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="startJd" type="xs:int" required="false"/>
						<param name="endJd" type="xs:int" required="false"/>
						<param name="durationEnable" type="xs:boolean" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/custom/">
			<method name="POST" id="add_custom">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="rules" type="xs:list" itemType="xs:complexType" required="true">
						<item type="xs:complexType" description="event rule">
							<element name="type" type="xs:string">
								<option value="cycleDays"/>
								<option value="cycleLen"/>
								<option value="cycleWeeks"/>
								<option value="date"/>
								<option value="day"/>
								<option value="dayTime"/>
								<option value="dayTimeRange"/>
								<option value="duration"/>
								<option value="end"/>
								<option value="ex_dates"/>
								<option value="ex_day"/>
								<option value="ex_month"/>
								<option value="ex_year"/>
								<option value="month"/>
								<option value="start"/>
								<option value="weekDay"/>
								<option value="weekMonth"/>
								<option value="weekNumMode"/>
								<option value="year"/>
							</element>
							<element name="value" type="xs:string" description="format depends on rule type"/>
						</item>
					</param>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_custom">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="rules" type="xs:list" itemType="xs:complexType">
								<item type="xs:complexType" description="event rule">
									<element name="type" type="xs:string">
										<option value="cycleDays"/>
										<option value="cycleLen"/>
										<option value="cycleWeeks"/>
										<option value="date"/>
										<option value="day"/>
										<option value="dayTime"/>
										<option value="dayTimeRange"/>
										<option value="duration"/>
										<option value="end"/>
										<option value="ex_dates"/>
										<option value="ex_day"/>
										<option value="ex_month"/>
										<option value="ex_year"/>
										<option value="month"/>
										<option value="start"/>
										<option value="weekDay"/>
										<option value="weekMonth"/>
										<option value="weekNumMode"/>
										<option value="year"/>
									</element>
									<element name="value" type="xs:string" description="format depends on rule type"/>
								</item>
							</param>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_custom">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="rules" type="xs:list" itemType="xs:complexType" required="true">
							<item type="xs:complexType" description="event rule">
								<element name="type" type="xs:string">
									<option value="cycleDays"/>
									<option value="cycleLen"/>
									<option value="cycleWeeks"/>
									<option value="date"/>
									<option value="day"/>
									<option value="dayTime"/>
									<option value="dayTimeRange"/>
									<option value="duration"/>
									<option value="end"/>
									<option value="ex_dates"/>
									<option value="ex_day"/>
									<option value="ex_month"/>
									<option value="ex_year"/>
									<option value="month"/>
									<option value="start"/>
									<option value="weekDay"/>
									<option value="weekMonth"/>
									<option value="weekNumMode"/>
									<option value="year"/>
								</element>
								<element name="value" type="xs:string" description="format depends on rule type"/>
							</item>
						</param>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_custom">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="rules" type="xs:list" itemType="xs:complexType" required="false">
							<item type="xs:complexType" description="event rule">
								<element name="type" type="xs:string">
									<option value="cycleDays"/>
									<option value="cycleLen"/>
									<option value="cycleWeeks"/>
									<option value="date"/>
									<option value="day"/>
									<option value="dayTime"/>
									<option value="dayTimeRange"/>
									<option value="duration"/>
									<option value="end"/>
									<option value="ex_dates"/>
									<option value="ex_day"/>
									<option value="ex_month"/>
									<option value="ex_year"/>
									<option value="month"/>
									<option value="start"/>
									<option value="weekDay"/>
									<option value="weekMonth"/>
									<option value="weekNumMode"/>
									<option value="year"/>
								</element>
								<element name="value" type="xs:string" description="format depends on rule type"/>
							</item>
						</param>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/dailyNote/">
			<method name="POST" id="add_dailyNote">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="jd" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_dailyNote">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="jd" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_dailyNote">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="jd" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_dailyNote">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="jd" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/largeScale/">
			<method name="POST" id="add_largeScale">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="scale" type="xs:int" required="true"/>
					<param name="start" type="xs:int" required="true"/>
					<param name="end" type="xs:int" required="true"/>
					<param name="durationEnable" type="xs:boolean" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_largeScale">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="scale" type="xs:int"/>
							<param name="start" type="xs:int"/>
							<param name="end" type="xs:int"/>
							<param name="durationEnable" type="xs:boolean"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_largeScale">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="scale" type="xs:int" required="true"/>
						<param name="start" type="xs:int" required="true"/>
						<param name="end" type="xs:int" required="true"/>
						<param name="durationEnable" type="xs:boolean" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_largeScale">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="scale" type="xs:int" required="false"/>
						<param name="start" type="xs:int" required="false"/>
						<param name="end" type="xs:int" required="false"/>
						<param name="durationEnable" type="xs:boolean" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/lifeTime/">
			<method name="POST" id="add_lifeTime">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="startJd" type="xs:int" required="true"/>
					<param name="endJd" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_lifeTime">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="startJd" type="xs:int"/>
							<param name="endJd" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_lifeTime">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="startJd" type="xs:int" required="true"/>
						<param name="endJd" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_lifeTime">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="startJd" type="xs:int" required="false"/>
						<param name="endJd" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/monthly/">
			<method name="POST" id="add_monthly">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="startJd" type="xs:int" required="true"/>
					<param name="endJd" type="xs:int" required="true"/>
					<param name="day" type="xs:int" required="true"/>
					<param name="dayStartSeconds" type="xs:int" required="true"/>
					<param name="dayEndSeconds" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_monthly">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="startJd" type="xs:int"/>
							<param name="endJd" type="xs:int"/>
							<param name="day" type="xs:int"/>
							<param name="dayStartSeconds" type="xs:int"/>
							<param name="dayEndSeconds" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_monthly">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="startJd" type="xs:int" required="true"/>
						<param name="endJd" type="xs:int" required="true"/>
						<param name="day" type="xs:int" required="true"/>
						<param name="dayStartSeconds" type="xs:int" required="true"/>
						<param name="dayEndSeconds" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_monthly">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="startJd" type="xs:int" required="false"/>
						<param name="endJd" type="xs:int" required="false"/>
						<param name="day" type="xs:int" required="false"/>
						<param name="dayStartSeconds" type="xs:int" required="false"/>
						<param name="dayEndSeconds" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/task/">
			<method name="POST" id="add_task">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="startTime" type="xsd:dateTime" required="true"/>
					<param name="endTime" type="xsd:dateTime" required="true"/>
					<param name="durationUnit" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_task">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="startTime" type="xsd:dateTime"/>
							<param name="endTime" type="xsd:dateTime"/>
							<param name="durationUnit" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_task">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="startTime" type="xsd:dateTime" required="true"/>
						<param name="endTime" type="xsd:dateTime" required="true"/>
						<param name="durationUnit" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_task">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="startTime" type="xsd:dateTime" required="false"/>
						<param name="endTime" type="xsd:dateTime" required="false"/>
						<param name="durationUnit" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/universityClass/">
			<method name="POST" id="add_universityClass">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="weekNumMode" type="xs:string" required="true">
						<option value="any"/>
						<option value="odd"/>
						<option value="even"/>
					</param>
					<param name="weekDayList" type="xs:list" itemType="xs:int" required="true" description="0=Sunday, 6=Saturday"/>
					<param name="dayStartSeconds" type="xs:int" required="true"/>
					<param name="dayEndSeconds" type="xs:int" required="true"/>
					<param name="courseId" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_universityClass">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="weekNumMode" type="xs:string">
								<option value="any"/>
								<option value="odd"/>
								<option value="even"/>
							</param>
							<param name="weekDayList" type="xs:list" itemType="xs:int" description="0=Sunday, 6=Saturday"/>
							<param name="dayStartSeconds" type="xs:int"/>
							<param name="dayEndSeconds" type="xs:int"/>
							<param name="courseId" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_universityClass">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="weekNumMode" type="xs:string" required="true">
							<option value="any"/>
							<option value="odd"/>
							<option value="even"/>
						</param>
						<param name="weekDayList" type="xs:list" itemType="xs:int" required="true" description="0=Sunday, 6=Saturday"/>
						<param name="dayStartSeconds" type="xs:int" required="true"/>
						<param name="dayEndSeconds" type="xs:int" required="true"/>
						<param name="courseId" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_universityClass">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="weekNumMode" type="xs:string" required="false">
							<option value="any"/>
							<option value="odd"/>
							<option value="even"/>
						</param>
						<param name="weekDayList" type="xs:list" itemType="xs:int" required="false" description="0=Sunday, 6=Saturday"/>
						<param name="dayStartSeconds" type="xs:int" required="false"/>
						<param name="dayEndSeconds" type="xs:int" required="false"/>
						<param name="courseId" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/universityExam/">
			<method name="POST" id="add_universityExam">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="jd" type="xs:int" required="true"/>
					<param name="dayStartSeconds" type="xs:int" required="true"/>
					<param name="dayEndSeconds" type="xs:int" required="true"/>
					<param name="courseId" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_universityExam">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="jd" type="xs:int"/>
							<param name="dayStartSeconds" type="xs:int"/>
							<param name="dayEndSeconds" type="xs:int"/>
							<param name="courseId" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_universityExam">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="jd" type="xs:int" required="true"/>
						<param name="dayStartSeconds" type="xs:int" required="true"/>
						<param name="dayEndSeconds" type="xs:int" required="true"/>
						<param name="courseId" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_universityExam">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="jd" type="xs:int" required="false"/>
						<param name="dayStartSeconds" type="xs:int" required="false"/>
						<param name="dayEndSeconds" type="xs:int" required="false"/>
						<param name="courseId" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/weekly/">
			<method name="POST" id="add_weekly">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="startJd" type="xs:int" required="true"/>
					<param name="endJd" type="xs:int" required="true"/>
					<param name="cycleWeeks" type="xs:int" required="true"/>
					<param name="dayStartSeconds" type="xs:int" required="true"/>
					<param name="dayEndSeconds" type="xs:int" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_weekly">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="startJd" type="xs:int"/>
							<param name="endJd" type="xs:int"/>
							<param name="cycleWeeks" type="xs:int"/>
							<param name="dayStartSeconds" type="xs:int"/>
							<param name="dayEndSeconds" type="xs:int"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_weekly">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="startJd" type="xs:int" required="true"/>
						<param name="endJd" type="xs:int" required="true"/>
						<param name="cycleWeeks" type="xs:int" required="true"/>
						<param name="dayStartSeconds" type="xs:int" required="true"/>
						<param name="dayEndSeconds" type="xs:int" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_weekly">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="startJd" type="xs:int" required="false"/>
						<param name="endJd" type="xs:int" required="false"/>
						<param name="cycleWeeks" type="xs:int" required="false"/>
						<param name="dayStartSeconds" type="xs:int" required="false"/>
						<param name="dayEndSeconds" type="xs:int" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="event/yearly/">
			<method name="POST" id="add_yearly">
				<request>
					<param name="summary" type="xs:string" required="true"/>
					<param name="description" type="xs:string" required="true"/>
					<param name="summaryEncrypted" type="xs:boolean"/>
					<param name="descriptionEncrypted" type="xs:boolean"/>
					<param name="calType" type="xs:string" required="true">
						<option value="gregorian"/>
						<option value="jalali"/>
						<option value="hijri"/>
						<option value="indian_national"/>
						<option value="julian"/>
						<option value="ethiopian"/>
						<option value="gregorian_proleptic"/>
					</param>
					<param name="icon" type="xs:string" required="true"/>
					<param name="timeZone" type="xs:string" required="true"/>
					<param name="timeZoneEnable" type="xs:boolean" required="true"/>
					<param name="month" type="xs:int" required="true"/>
					<param name="day" type="xs:int" required="true"/>
					<param name="startYear" type="xs:int" required="true"/>
					<param name="startYearEnable" type="xs:boolean" required="true"/>
				</request>
				<response>
					<representation mediaType="app/json">
						<param name="eventId" type="xs:string"/>
						<param name="sha1" type="xs:string"/>
					</representation>
				</response>
			</method>
			<resource path="{eventId}/">
				<param name="eventId" type="xs:string"/>
				<method name="GET" id="get_yearly">
					<response>
						<representation mediaType="app/json">
							<param name="eventType" type="xs:string">
								<option value="allDayTask"/>
								<option value="custom"/>
								<option value="dailyNote"/>
								<option value="largeScale"/>
								<option value="lifeTime"/>
								<option value="monthly"/>
								<option value="task"/>
								<option value="universityClass"/>
								<option value="universityExam"/>
								<option value="weekly"/>
								<option value="yearly"/>
							</param>
							<param name="eventId" type="xs:string"/>
							<param name="summary" type="xs:string"/>
							<param name="description" type="xs:string"/>
							<param name="summaryEncrypted" type="xs:boolean"/>
							<param name="descriptionEncrypted" type="xs:boolean"/>
							<param name="calType" type="xs:string">
								<option value="gregorian"/>
								<option value="jalali"/>
								<option value="hijri"/>
								<option value="indian_national"/>
								<option value="julian"/>
								<option value="ethiopian"/>
								<option value="gregorian_proleptic"/>
							</param>
							<param name="icon" type="xs:string"/>
							<param name="timeZone" type="xs:string"/>
							<param name="timeZoneEnable" type="xs:boolean"/>
							<param name="groupId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
							<param name="meta" type="xs:complexType">
								<element name="accessEmails" type="xs:list" itemType="xs:string"/>
								<element name="creationTime" type="xsd:dateTime"/>
								<element name="groupId" type="xs:string"/>
								<element name="isPublic" type="xs:boolean"/>
								<element name="maxAttendees" type="xs:int"/>
								<element name="ownerEmail" type="xs:string"/>
								<element name="publicJoinOpen" type="xs:boolean"/>
							</param>
							<param name="month" type="xs:int"/>
							<param name="day" type="xs:int"/>
							<param name="startYear" type="xs:int"/>
							<param name="startYearEnable" type="xs:boolean"/>
						</representation>
					</response>
				</method>
				<method name="PUT" id="update_yearly">
					<request>
						<param name="summary" type="xs:string" required="true"/>
						<param name="description" type="xs:string" required="true"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="true">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="true"/>
						<param name="timeZone" type="xs:string" required="true"/>
						<param name="timeZoneEnable" type="xs:boolean" required="true"/>
						<param name="month" type="xs:int" required="true"/>
						<param name="day" type="xs:int" required="true"/>
						<param name="startYear" type="xs:int" required="true"/>
						<param name="startYearEnable" type="xs:boolean" required="true"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
				<method name="PATCH" id="patch_yearly">
					<request>
						<param name="summary" type="xs:string" required="false"/>
						<param name="description" type="xs:string" required="false"/>
						<param name="summaryEncrypted" type="xs:boolean"/>
						<param name="descriptionEncrypted" type="xs:boolean"/>
						<param name="calType" type="xs:string" required="false">
							<option value="gregorian"/>
							<option value="jalali"/>
							<option value="hijri"/>
							<option value="indian_national"/>
							<option value="julian"/>
							<option value="ethiopian"/>
							<option value="gregorian_proleptic"/>
						</param>
						<param name="icon" type="xs:string" required="false"/>
						<param name="timeZone" type="xs:string" required="false"/>
						<param name="timeZoneEnable" type="xs:boolean" required="false"/>
						<param name="month" type="xs:int" required="false"/>
						<param name="day" type="xs:int" required="false"/>
						<param name="startYear" type="xs:int" required="false"/>
						<param name="startYearEnable" type="xs:boolean" required="false"/>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="eventId" type="xs:string"/>
							<param name="sha1" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="admin/">
			<resource path="stats/">
				<method name="GET" id="adminGetStats">
					<request>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="locked_resource_count" type="xs:complexType">
								<element name="event" type="xs:int"/>
								<element name="group" type="xs:int"/>
								<element name="user" type="xs:int"/>
							</param>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="locked-resources/">
				<method name="GET" id="adminListLockedResources">
					<request>
					</request>
					<response>
						<representation mediaType="app/json">
							<param name="event" type="xs:list" comment="list of locked event IDs"/>
							<param name="group" type="xs:list" comment="list of locked group IDs"/>
							<param name="user" type="xs:list" comment="list of locked users emails"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application> 
